---
layout: default
---

{% include header.html %}

<p>Hey there, I'm Nik. I am the <strong>co-founder and CTO of <a href="https://bont.ai/">Bont</a></strong>, a Swiss AI startup focused on sales tech.</p>
<br/>
<p>My background is as a seasoned software lead with <strong>over 10 years of experience leading and rescuing troubled projects</strong>. I specialize in secure infrastructure design, with a recent highlight being the design of a PCI-DSS compliant solution for storing millions of credit cards for an international insurance firm.</p>    
<br/>
<p>I'm the creator and one of the maintainers of the <strong><a href="https://kit-clj.github.io/">Kit Framework</a></strong>, a lightweight, modular framework for scalable production systems.</p>
<br/>
<p>In a former life, I lived in Canada where I was the <strong>Vice President of Technology at <a href="http://synqrinus.com" target="_blank">Synqrinus</a></strong>, and <strong>Director of the non-profit <a href="https://clojurenorth.com" target="_blank">Clojure/north</a></strong>.</p>
<br/>
<p>I've also worked on various projects for companies such as Allianz Partners, The Hospital for Sick Children (SickKids), Canuck Place Children's Hospice, and Magenta Health.</p>
<br/>
<!-- <p>If you think you'd like to work together, send me an <strong><a href="mailto:nik@nikperic.com">email</a></strong>.</p> -->
<!-- <br/> -->

<div class="portfolio">
    <h1>Highlighted open source project contributions:</h1>
    <ul>
        {% for project in site.data.projects %}
        <li>
            <strong><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></strong> - {{ project.description }}
        </li>
        {% endfor %}
    </ul>
</div>


<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
