// COLORS
$color-primary: #DDDDDD;
$color-background: #272727;
$color-link: #A69EFF;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: "'Ubuntu Mono', ";

// BREAKPOINTS
$br: 600px;
